.desktop {
  width: 100%;
  height: 100%;
  height: 100dvh;
  background-color: var(--win-teal);
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.icons-container {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 20px;
  z-index: 1;
}

.windows-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 30px; /* Pin to top of taskbar instead of calc height */
  pointer-events: none;
  z-index: 2;
}

.windows-container > * {
  pointer-events: auto;
}
